@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(238, 246, 255);
  padding: .5rem 1rem;
  overflow-x: hidden;
}

.content {
  width: 100%;
  background-color: #FFF;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .1);
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  max-width: 768px;
  margin: auto;
}

.content h1 {
  margin: 0;
  margin-bottom: .75rem;
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
  margin: 0%;
  padding: 0;
}

.pokemons .pokemon {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  border-radius: 1rem;
  color: #FFF;
  overflow: hidden;
  cursor: pointer;
}

.pokemon.normal,
.pokemon__info.normal {
  background-color: #a6a877;
}
.pokemon.grass,
.pokemon__info.grass {
  background-color: #77c850;
}
.pokemon.fire,
.pokemon__info.fire {
  background-color: #ee7f30;
}
.pokemon.water, 
.pokemon__info.water {
  background-color: #678fee;
}
.pokemon.electric, 
.pokemon__info.electric {
  background-color: #f7cf2e;
}
.pokemon.ice,
.pokemon__info.ice {
  background-color: #98d5d7;
}
.pokemon.ground, 
.pokemon__info.ground {
  background-color: #dfbf69;
}
.pokemon.flying, 
.pokemon__info.flying {
  background-color: #a98ff0;
}
.pokemon.poison, 
.pokemon__info.poison {
  background-color: #a040a0;
}
.pokemon.fighting, 
.pokemon__info.fighting {
  background-color: #bf3029;
}
.pokemon.psychic, 
.pokemon__info.psychic {
  background-color: #f65687;
}
.pokemon.dark, 
.pokemon__info.dark {
  background-color: #725847;
}
.pokemon.rock, 
.pokemon__info.rock {
  background-color: #b8a137;
}
.pokemon.bug, 
.pokemon__info.bug {
  background-color: #a8b720;
}
.pokemon.ghost, 
.pokemon__info.ghost {
  background-color: #6e5896;
}
.pokemon.steel, 
.pokemon__info.steel {
  background-color: #b9b7cf;
}
.pokemon.dragon, 
.pokemon__info.dragon {
  background-color: #6f38f6;
}
.pokemon.fairy, 
.pokemon__info.fairy {
  background-color: #f9aec7;
}

.pokemons .pokemon .number {
  color: #000;
  opacity: .3;
  font-weight: bold;
  text-align: right;
  font-size: .625rem;
}

.pokemons .pokemon .name {
  margin-bottom: .25rem;
  font-weight: 500;
  letter-spacing: .07rem;
  text-transform: capitalize;
}

.pokemons .pokemon .detail {
  display: flex;
  column-gap: .5rem;
}

.pokemons .pokemon .detail .types {
  display: flex;
  row-gap: .5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemons .pokemon .detail .types .type {
  text-align: center;
  color: #FFF;
  font-size: .655rem;
  padding: .25rem .5rem;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
  text-transform: capitalize;
  filter: brightness(1.05);
  border-radius: 1rem;
}

.pokemons .pokemon .detail img {
  max-width: 100%;
  height: 70px;
  align-self: flex-end;
  transition: transform .3s ease-in-out;
  z-index: 1;
}

.pokemons .pokemon:hover .detail img {
  transform: translateX(5px);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#loadMoreButton {
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  color: white;
  padding: .5rem .75rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
  cursor: pointer;
  transition: .3s;
}

#loadMoreButton:hover {
  opacity: .9;
  transform: translateY(-2px);
}

.pokemon__info {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #db3434;
  padding-top: 6rem;
  row-gap: 15rem;
  display: flex;
  flex-direction: column;
  transition: transform .3s;
}

.pokemon__info.active {
  transform: translateX(-100%);
}

.pokeinfos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  color: #FFF;
}

.main__info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.main__info .main__info-name {
  letter-spacing: .05rem;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.main__info .main__info-types {
  display: flex;
  column-gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main__info .main__info-type {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  line-height: 1rem;
  background-color: rgba(255, 255, 255, .2);
  padding: .25rem .75rem;
  font-size: .75rem;
  border-radius: 1rem;
}

.pokemon__id {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: .08rem;
}

.pokemon__data {
  background-color: #FFF;
  padding: 2rem;
  box-shadow: 0rem 0rem 20px rgba(0, 0, 0, .2);
  border-radius: 2.5rem 2.5rem 0rem 0;
  flex: 1;
}
.pokemon__data-img {
  position: absolute;
  inset: 0;
  height: 200px;
  top: 16rem;
  margin: 0 auto;
  transition: transform .2s ease-in-out;
}
.pokemon__data:hover .pokemon__data-img {
  transform: translateY(-.5rem);
}

.back__arrow {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.5rem;
  color: #FFF;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  body {
    padding: 0;
  }
  .pokemons {
    grid-template-columns: 180px;
  }
}

@media screen and (max-width: 425px) {
  body {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .pokemons {
    grid-template-columns: repeat(3, 1fr);
  }
}